/* navbar */

.img_donar {
    width: 20px;
    height: 15px;
    position: absolute;
    z-index: 12;
    top: 5px;
    left: 35px;
}

.bandera {
    position: absolute;
    right: 30px;
}

.bandera {
    position: absolute;
    right: 30px;
}

.phone {
    margin-left: 225px;
}

#first_navbar {
    background-color: #0D8E95;
    height: 28px;
}

.fa-phone {
    -ms-transform: rotate(110deg);
    /* IE 9 */
    -webkit-transform: rotate(110deg);
    /* Chrome, Safari, Opera */
    transform: rotate(110deg);
}

nav {
    background-color: #ffffff;
}

#navbarSupportedContent>ul>li>a {
    color: #774F38;
}

.donar {
    background-color: #774F38;
}

.donar > p{
    margin-right:10px;
}

.flota {
    position: absolute;
    width: 83px;
    height: 83px;
    z-index: 12;
    top: -25px;
    left: 30px;
}

#company-name {
    color: #774F38;
}

#barra {
    height: 30px;
}

@media (min-width: 0px) {
    .disableWidth720 {
        display: none !important;
    }
}

@media (min-width: 720px) {
    .disableWidth720 {
        display: block !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
    color: white;
}


/* Taller footer on small screens */

@media (max-width: 34em) {
    body {
        margin-bottom: 500px;
    }
    .footer {
        height: 500px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */


/*map-container-css*/

#map-container {
    width: auto;
    align-items: center;
    max-height: 500px;
}

#map-container-fluid {
    max-height: 500px;
}

#map-container>img {
    width: 100%;
    max-height: 500px;
    margin-bottom: -23px;
}


/*end of map-container-css*/

footer {
    padding-top: 35px;
    padding-bottom: 280px;
    background-color: #0D8E95;
}

footer a {
    text-decoration: none;
}

footer .form-control {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}


/*Header three*/

#header-three {
    background-color: #89BAB8;
    height: 90px;
    width: auto;
    justify-content: flex-start;
    box-shadow: 0px 10px 15px -10px;
}

#third-header-title {
    padding-top: 30px;
    color: #774F38;
}

#header-three-content {
    margin-left: 9%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #header-three-content {
        margin-left: -10px;
    }
  }
/* end of header three*/

/*Carousel*/

#carousel-programas{
    padding-top: 10px;
    padding-bottom: 150px;
    color:olivedrab;
    align-items: center;
    text-align: center;
}
.img-carousel-programas {
    margin: 50;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.carousel-caption {
    left: 30;
    bottom: 30;
    top: 30;
    right: 30;
    color: rgb(243, 243, 247);
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    text-align: center;
    align-items: bottom;
    
}


/* end of header three*/
.carousel-caption > h1 {
    padding-top: 55px;
}

/*fin del carousel*/

/* Inicio texto descriptivo*/
#texto_mapa1
    >h1{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #774F38;
        font-size: 30px ;
    }

#texto_mapa2
     >h2{
    text-align: center;
    color: #707070;
     font-size: 10px ;
     
     }

#container_texto_mapa{ 
    width: auto;
    background: rgb(185, 180, 180);
    align-items: center;
    max-height: 150px;
    margin-top: 10px;
     
   
    
}

/* fin texto descriptivo*/
