/* navbar */

#first_navbar {
    background-color: #0D8E95;
    height: 28px;
}

.color_texto {
    color: #774F38;
}
#navbarSupportedContent > ul>  li> a{
    color: #774F38;
}

.donar {
    background-color: #774F38;
}

.flota {
    position: absolute;
    width: 83px;
    height: 83px;
    z-index: 10;
    top: -25px;
    left: 30px;
}

#barra {
    height: 30px;
}

@media (min-width: 0px) {
    .disableWidth720 {
        display: none !important;
    }
}

@media (min-width: 720px) {
    .disableWidth720 {
        display: block !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
    color: white;
}


/* Taller footer on small screens */

@media (max-width: 34em) {
    body {
        margin-bottom: 500px;
    }
    .footer {
        height: 500px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */

footer {
    padding-top: 35px;
    padding-bottom: 280px;
    background-color: #0D8E95;
}

footer a {
    text-decoration: none;
}

footer .form-control {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}


/* Margenes de arriba y de abajo del texto y video*/


/*Header three*/
#header-three{
    background-color: #89BAB8;
    height: 90px;
    width: auto;
    box-shadow: 0px 10px 15px -10px;
    justify-content: flex-start;
}
#third-header-title {
    padding-top: 30px;
    color: #774F38;
}

#header-three-content{
    margin-left: 9.5%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #header-three-content {
      margin-left: -10px;
    }
  }
/* end of header three*/