/* navbar */
#first_navbar {
    background-color: red;
    height: 30px;
}


/* fin de navbar */


/* CSS para texto de ubicacion y productos & servicios */

#alinear {
    margin: 20px auto;
    width: 840px;
    padding: 15px;
    border: 10px medium Red;
}

#texto {
    color: chocolate;
    font: 25px normal;
    text-align: center;
}

#textoCard {
    color: burlywood;
    font: outline;
    text-align: center;
}

#colorContenedor {
    background-color: gainsboro;
}


/* fin de css de productos & servicios y ubicacion  */
