/* navbar */

#first_navbar {
    background-color: #0D8E95;
    height: 28px;
}

.flota {
    position: absolute;
    width: 83px;
    height: 83px;
    z-index: 10;
    top: -25px;
    left: 30px;
}

#barra {
    height: 30px;
}

@media (min-width: 0px) {
    .disableWidth720 {
        display: none !important;
    }
}

@media (min-width: 720px) {
    .disableWidth720 {
        display: block !important;
    }
}


/* fin de navbar */


/* CSS para texto de ubicacion y productos & servicios */

#alinear {
    margin: 50px auto;
    width: 1100px;
    padding: 20spx;
    border: 10px medium;
    margin-top: 30px;
}

#texto_Productos {
    color: #707070;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#texto {
    color: #533422;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#textoCard {
    color: burlywood;
    font: outline;
    text-align: center;
}

#colorContenedor {
    background-color: gainsboro;
}


/* fin de css de productos & servicios y ubicacion  */


/*inicio carousel principal*/

.carousel-item {
    height: 400px;
    width: 100%;
}

.img-carousel-principal {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-caption {
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgba(13, 142, 148, 0.6);
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
}

.carousel-caption>p {
    padding-top: 145px;
    text-align: center;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}


/*fin del carousel principal*/


/* footer */


/* Sticky footer position and size
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
    color: white;
}


/* Taller footer on small screens */

@media (max-width: 34em) {
    body {
        margin-bottom: 500px;
    }
    .footer {
        height: 500px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */

footer {
    padding-top: 35px;
    padding-bottom: 280px;
    background-color: #0D8E95;
}

footer a {
    text-decoration: none;
}

footer .form-control {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}