/* navbar */

.img_donar {
    width: 20px;
    height: 15px;
    position: absolute;
    z-index: 12;
    top: 5px;
    left: 35px;
}

.bandera {
    position: absolute;
    right: 30px;
}

.bandera {
    position: absolute;
    right: 30px;
}

.phone {
    margin-left: 225px;
}

#first_navbar {
    background-color: #0D8E95;
    height: 28px;
}

.fa-phone {
    -ms-transform: rotate(110deg);
    /* IE 9 */
    -webkit-transform: rotate(110deg);
    /* Chrome, Safari, Opera */
    transform: rotate(110deg);
}

nav {
    background-color: #ffffff;
}

#navbarSupportedContent>ul>li>a {
    color: #774F38;
}

.donar {
    background-color: #774F38;
}

.flota {
    position: absolute;
    width: 83px;
    height: 83px;
    z-index: 12;
    top: -25px;
    left: 30px;
}

#company-name {
    color: #774F38;
}

#barra {
    height: 30px;
}

@media (min-width: 0px) {
    .disableWidth720 {
        display: none !important;
    }
}

@media (min-width: 720px) {
    .disableWidth720 {
        display: block !important;
    }
}

/*third header css*/
#header-three {
    background-color: #89BAB8;
    height: 90px;
    width: auto;
    justify-content: flex-start;
    box-shadow: 0px 10px 15px -10px;
}

#third-header-title {
    padding-top: 30px;
    color: #774F38;
}

#header-three-content {
    margin-left: 9%;
}
/*third header css*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
    color: white;
}


/* Taller footer on small screens */

@media (max-width: 34em) {
    body {
        margin-bottom: 500px;
    }
    .footer {
        height: 500px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */

footer {
    padding-top: 35px;
    padding-bottom: 280px;
    background-color: #0D8E95;
}

footer a {
    text-decoration: none;
}

footer .form-control {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

/*images gallery*/
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(245, 245, 245);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    border-radius: 7px;
  }
/*End of images gallery css*/